@charset "utf-8";

/* FONTES USADAS */
@font-face {
    font-family: 'idroid.otf';
    src: url('estilo/fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'babas';
    src: url('estilo/fontes/BebasNeue-Regular.ttf') format('truetype');
}

:root   {
    --titulo-subtitulo: #1d5437;
}

img, iframe, .presentation-text, .box-menu, .titulo-extra, .extra    {
    justify-content: center;
    display: flex;
    margin: auto;
}

body    {
    flex-direction: column;
    font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    margin: auto;
}


h1, h2 {
    font-weight: normal;
    margin: 5px 15px 0px 15px;
    font-family: 'idroid.otf';
    color: var(--titulo-subtitulo);
}

h2  {
    text-indent: 25px;
    background: linear-gradient(90deg, #00ff4c5e, transparent 80%);
    background-size: 100%;
}

h3  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin: 0px;
}

p  {
    text-indent: 30px;
    justify-content: left;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;

}

strong  {
    color: #185a36
}

img {
    max-width: 85%;
}

iframe  {
    width: 95%;
    height: 500px;
}

.reference, .reference::after  {
    content: ' ';
    color: #185a36;
    font-weight: 700;
    text-decoration: none;
}

.fundo-video    {
    background-color: #1a5b39;
    padding: 20px 20px;
}

.presentation  {
    width: 100%;
    padding-top: 30px;
    background: linear-gradient(#3CDA83, #185A36 100%) 10% 100%;
    padding-bottom: 12px;
}

.presentation-title  {
    font-family: 'babas';
    font-weight: lighter;
    font-size: 60px;
    color: white;
    text-shadow: 0px 2px 4px black;
    text-align: center;
}

.presentation-text  {
    color: white;
    text-shadow: 0px 2px 4px black;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    
}

.box-menu   {
    justify-content: left;
    background-color: #185a36;
    padding: 0px 0px 5px 15px;
}

.menu   {
    margin-right: 10px;
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s;
}

menu:hover  {
    
    transition: 0.3s;
    color: #185a36;
    background-color: #89ffbe83;
}

.titulo-extra  {
    margin-top: 10px;
    padding: 4px 0px 8px 0px;
    width: 90%;
    border-radius: 5px 5px 0px 0px;
    color: white;
    background-color: #32a763;
}

.extra  {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 0px 0px;
    background-color: #c5ebd6;
    border-radius: 0 0 5px 5px;
}

ul   {
    margin-right: 28%;
    display: inline-block;
}

.links, .links::before   {
    font-weight: 700;
    font-size: 14px;
    content: "✔ ";
}

.conteudo    {
    margin: auto;
    max-width: 1280px;
    margin-bottom: 40px;
    width: 85%;
    padding: 5px 0px 10px 0px;
    background-color: white;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.678);
    border-radius: 0px 0px 7px 7px;
}


/* adaptação para mobile */
@media (max-width: 800px) {
	.conteudo {
        max-width: none;
		width: 100%;
		margin: 0px 0px 20px 0px;
	}

    h1  {
        font-size: 1.7em;
    }
    
    h2  {
        font-size: 1.4em;
    }
    h1,h2   {
        margin-top: 15px;
    }
    img  {
        width: 70%;
        
    }
    iframe  {
        width: 100%;
        height: 250px;
        margin-left: 0%;
    }
    .fundo-video    {
        padding: 5px 8px;
    }
    .presentation {
        padding: 0px 0px 0px 0px;
        height: auto;
    }
    .presentation-title {
		font-size: 3em;
		margin: 0px 0px 0px 0px;
	}
    .presentation-text {
		padding-bottom: 1em;
		font-size: 18px;
	}
    .box-menu {
        justify-content: space-evenly;
		width: 100%;
		padding-bottom: 5px;
        padding-left: 0px;
	}

    a {
        text-align: center;
        width: 20%;
        font-size: 75%;
        margin-right: 0px;
        border: 2px solid white;
        padding: 4px 1% 4px 1%;
    }
    ul  {
        display: block;
        margin-right: 0px;
    }
}