@charset "UTF-8";

body    {
    background-image: url('imagens/pattern001.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.quadrado   {
    background-attachment: scroll;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 7px;
    transition: 0.5s;
    display: inline-block;    
}
